:root{
    --accent--color:rgba(60, 60, 60, 0.841);
    --accent--bgcolor:rgba(207, 207, 207, 0.865);
}

:root[dark_mode]{
    --accent--bgcolor:rgba(91, 91, 91, 0.841);
    --accent--color:rgba(244, 244, 244, 0.953);
}
#results{
    /* padding-left:10vw; */
    background-color: var(--accent--bgcolor);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    overflow: hidden;
    /* border: 1px solid var(--color); */
    padding: 3em 1em;
    border-radius: 2em;
}
#results > p{
    padding: 1.5em;
    margin: 0 4em;
    width: 100%;
}

.profile{
    align-self: center;
    background-color: var(--header--bg);
    height: auto;
    padding: 2.5vw;
    text-align: center;
    border-radius: 50%;
    color: var(--color);
    font-size: x-large;
    margin: 0.5em;
}