:root{
    --header--bg:rgba(196, 248, 248, 0.926);
    --accent:rgba(76, 168, 63, 0.805);
    --bg--color:white;
    --color:rgb(51, 46, 46);
}

:root[dark_mode]{
    --bg--color:rgb(51, 46, 46);
    --color:rgba(236, 236, 236, 0.946);
    --header--bg:rgba(114, 179, 190, 0.926);
    --accent:rgba(135, 211, 126, 0.805);
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--bg--color);
    color:var(--color);
    transition: 0.1s ease-in;
    scroll-behavior: smooth;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--header--bg);
}

.course,.name{
    margin: 1rem;

}
.course{
    padding: 1rem 0;
    margin-right: -0.5rem;
}
.name{ 
    padding: 1rem 1.5rem;
    /* border-left: 1rem solid var(--accent); */
    background-color: var(--accent);
    border-radius: 0 1rem 0 1rem;
}
.nav{
    padding:0.5rem;
    background-color: var(--accent);
    height: 5em;
    width: 1.5em;
    text-align: center;
    transform: translate(0,50%);
}
.nav > a{
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav > a >img{
    width: 80%;
}
.nav-right{
    position: fixed;
    right:0; 
    bottom:50%;
    border-radius: 1rem 0 0 1rem;
}

.nav-left{
    position: fixed;
    left: 0;
    bottom: 50%;
    border-radius: 0 1rem 1rem 0;
}
#dark-mode{
    position: fixed;
    right:0;
    bottom: 0;
    margin:1em;
    padding: 1em;
    background-color: rgba(128, 128, 128, 0.789);
    color: white;
    border-radius: 1rem;
    transition: 0.1s ease-in-out;
}

#dark-mode:hover{
    cursor: pointer;
    background-color: rgba(29, 28, 28, 0.741);
    transition: 0.1s ease-in-out;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

